RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# ErrorDocument 404 /~ida/SAE203_EraExplorer/include/404.php
ErrorDocument 404 /SAE203_EraExplorer/include/404.php

# ErrorDocument 403 /~ida/SAE203_EraExplorer/include/403.php
ErrorDocument 403 /SAE203_EraExplorer/include/403.php

# Désactiver l'affichage du listing des répertoires
Options All -Indexes
