RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# ErrorDocument 400 /~ida/SAE203_EraExplorer/pages/error.php?code=400
ErrorDocument 400 /SAE203_EraExplorer/pages/error.php?code=400

# ErrorDocument 401 /~ida/SAE203_EraExplorer/pages/error.php?code=401
ErrorDocument 401 /SAE203_EraExplorer/pages/error.php?code=401

# ErrorDocument 403 /~ida/SAE203_EraExplorer/pages/error.php?code=403
ErrorDocument 403 /SAE203_EraExplorer/pages/error.php?code=403

# ErrorDocument 404 /~ida/SAE203_EraExplorer/pages/error.php?code=404
ErrorDocument 404 /SAE203_EraExplorer/pages/error.php?code=404

# ErrorDocument 500 /~ida/SAE203_EraExplorer/pages/error.php?code=500
ErrorDocument 500 /SAE203_EraExplorer/pages/error.php?code=500

# Désactiver l'affichage du listing des répertoires
Options All -Indexes