<footer>
	<div>
		<a href="http://">
			<img src="{{ base_path }}/files/images/logoVoyageDansLeTemps_Logo_Dark.png" alt="Site Logo">
		</a>
	</div>
	<div>
		<ul>
			<li>Twitter</li>
			<li>Instagram</li>
			<li>Phonenumber</li>
			<li>Mail</li>
			<li>
				<a href="https://www.ida.etu.mmi-unistra.fr/">Portfolio</a>
			</li>
		</ul>
	</div>
	<div>
		<ul>
			{% for category in categories %}
				<li>{{ category.name }}</li>
			{% endfor %}
		</ul>
	</div>
	<div>
		<ul>
			<li>&copy;
				{{ "now"|date("Y") }}Voyage dans le temps. All rights reserved.
			</li>
			<li>Politique de confidentialités</li>
			<li>Conditions d'utilisation</li>
		</ul>
	</div>
</footer>
