<div class="footer-wrapped" role="contentinfo">
    <div class="footer-wave-container">
        <svg viewbox="0 450 900 150" class="footer-wave-svg" preserveaspectratio="none">
            <path fill="#FFFFFF" fill-opacity="1" d="M0 529L21.5 520.2C43 511.3 86 493.7 128.8 493.8C171.7 494 214.3 512 257.2 519.5C300 527 343 524 385.8 515.8C428.7 507.7 471.3 494.3 514.2 496.3C557 498.3 600 515.7 642.8 517.3C685.7 519 728.3 505 771.2 506.2C814 507.3 857 523.7 878.5 531.8L900 540L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z">
                <animate attributename="d" dur="40s" repeatcount="indefinite" keytimes="0;0.16;0.33;0.5;0.66;0.83;1" keysplines=".42,0,.58,1;.42,0,.58,1;.42,0,.58,1;.42,0,.58,1;.42,0,.58,1;.42,0,.58,1" values="
                                M0 529L21.5 520.2C43 511.3 86 493.7 128.8 493.8C171.7 494 214.3 512 257.2 519.5C300 527 343 524 385.8 515.8C428.7 507.7 471.3 494.3 514.2 496.3C557 498.3 600 515.7 642.8 517.3C685.7 519 728.3 505 771.2 506.2C814 507.3 857 523.7 878.5 531.8L900 540L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z;
                                M0 516L21.5 514C43 512 86 508 128.8 503.3C171.7 498.7 214.3 493.3 257.2 490.3C300 487.3 343 486.7 385.8 495.5C428.7 504.3 471.3 522.7 514.2 531.7C557 540.7 600 540.3 642.8 534C685.7 527.7 728.3 515.3 771.2 505.7C814 496 857 489 878.5 485.5L900 482L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z;
                                M0 521L21.5 524.8C43 528.7 86 536.3 128.8 537.3C171.7 538.3 214.3 532.7 257.2 526C300 519.3 343 511.7 385.8 503.2C428.7 494.7 471.3 485.3 514.2 481C557 476.7 600 477.3 642.8 485.8C685.7 494.3 728.3 510.7 771.2 516.7C814 522.7 857 518.3 878.5 516.2L900 514L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z;
                                M0 495L21.5 498.3C43 501.7 86 508.3 128.8 505.3C171.7 502.3 214.3 489.7 257.2 489.5C300 489.3 343 501.7 385.8 511.7C428.7 521.7 471.3 529.3 514.2 532C557 534.7 600 532.3 642.8 532.7C685.7 533 728.3 536 771.2 531.5C814 527 857 515 878.5 509L900 503L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z;
                                M0 520L21.5 516.2C43 512.3 86 504.7 128.8 508C171.7 511.3 214.3 525.7 257.2 529.3C300 533 343 526 385.8 523.5C428.7 521 471.3 523 514.2 525.8C557 528.7 600 532.3 642.8 535.3C685.7 538.3 728.3 540.7 771.2 536.7C814 532.7 857 522.3 878.5 517.2L900 512L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z;
                                M0 539L21.5 533.8C43 528.7 86 518.3 128.8 514C171.7 509.7 214.3 511.3 257.2 508.7C300 506 343 499 385.8 492.7C428.7 486.3 471.3 480.7 514.2 480.2C557 479.7 600 484.3 642.8 494.7C685.7 505 728.3 521 771.2 522.3C814 523.7 857 510.3 878.5 503.7L900 497L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z;
                                M0 529L21.5 520.2C43 511.3 86 493.7 128.8 493.8C171.7 494 214.3 512 257.2 519.5C300 527 343 524 385.8 515.8C428.7 507.7 471.3 494.3 514.2 496.3C557 498.3 600 515.7 642.8 517.3C685.7 519 728.3 505 771.2 506.2C814 507.3 857 523.7 878.5 531.8L900 540L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z"/>
            </path>
        </svg>
    </div>
    <footer>
        <ul>
            <li>
                <a href="https://www.ida.etu.mmi-unistra.fr/">
                    <i class="fas fa-briefcase"></i>Portfolio</a> {# Lien vers le portfolio #}
            </li>
            <li>
                <a href="https://github.com/Noferu/sae203">
                    <i class="fab fa-github"></i>GitHub de la SAE</a> {# Lien vers le GitHub de la SAE #}
            </li>
            <li>
                <a href="https://www.linkedin.com/in/nawfel-idaalioulahsen">
                    <i class="fab fa-linkedin"></i>LinkedIn</a> {# Lien vers LinkedIn #}
            </li>
            <li>
                <a href="https://www.instagram.com/nawfel.idl/?hl=fr">
                    <i class="fab fa-instagram"></i>Instagram</a> {# Lien vers Instagram #}
            </li>
        </ul>
        <ul>
            {% for category in categories %}
                <li>
                    <span>~</span>
                    <a href="{{ base_path }}/pages/product?action=grid&category_id={{ category.category_id }}">{{ category.name }}</a> {# Lien vers les catégories de produits #}
                </li>
            {% endfor %}
        </ul>
        <ul>
            <li>&copy; {{ "now"|date("Y") }} Era Explorer. All rights reserved.</li> {# Copyright #}
            <li>Politique de confidentialités</li> {# Lien vers la politique de confidentialité #}
            <li>Conditions d'utilisation</li> {# Lien vers les conditions d'utilisation #}
        </ul>
    </footer>
</div>
