:root {
  --brown: #e75511;
  --gold: #f1ab28;
  --gradient: linear-gradient(-135deg, var(--gold), var(--brown));
}

body {
  position: relative;
  overflow: hidden;
}

#timeline-container, header, .footer-wrapped, .btn-animation, .featured-articles, .about-us  {
  animation: fade-in-bck 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}

@keyframes fade-in-bck {
  0% {
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}


#toast-message {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}

#toast-message.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 3s;
}
@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 50px; opacity: 1;}
}

@keyframes fadeout {
  from {top: 50px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.theme-néolithique {
  background-color: #3a4526;
}

.theme-antiquité {
  background-color: #7d8790;
}

.theme-moyen-âge {
  background-color: #533c2f;
}

.theme-renaissance {
  background-color: #645f54;
}

.theme-époque-moderne {
  background-color: #424e4c;
}

.theme-futur {
  background-color: #463f5d;
}

#background-image {
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: blur(2px);
  transition: filter 1s, opacity 1s, background-image 0.5s ease-in-out;
  background-image: url("https://i.imgur.com/xPUXGRT.jpg");
}

#background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  pointer-events: none;
  transition: opacity 0.7s;
}

.theme-moyen-âge #background-image {
  background-image: url("https://i.imgur.com/xPUXGRT.jpg");
}

.theme-néolithique #background-image {
  background-image: url("https://i.imgur.com/NOho5qq.jpg");
}

.theme-antiquité #background-image {
  background-image: url("https://i.imgur.com/qYk0C49.jpg");
}

.theme-renaissance #background-image {
  background-image: url("https://i.imgur.com/IZfe0T5.jpg");
}

.theme-époque-moderne #background-image {
  background-image: url("https://i.imgur.com/ZSECm9u.jpg");
}

.theme-futur #background-image {
  background-image: url("https://i.imgur.com/GViuh6q.jpg");
}

.timeline {
  text-align: center;
}

.timeline h1 {
  margin: 3vw;
  font-size: 600%;
  user-select: none;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation-delay: 250ms;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.title-letter {
  display: inline-block;
  animation: float 2s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

#timeline-container {
  width: 1200px;
  height: 100px;
  overflow-x: auto;
  white-space: nowrap;
  margin: 5vh auto;
  position: relative;
  user-select: none;
  overflow-y: hidden;
}

#timeline-container::-webkit-scrollbar {
  display: none;
}

.epoch {
  display: inline-block;
  width: 42%;
  height: 100%;
  filter: brightness(0.2);
  opacity: 70%;
  transition: all 0.5s ease-in-out;
  transform: scale(0.97);
}

.epoch.adjacent {
  filter: brightness(0.6);
  opacity: 70%;
  transform: scale(0.97);
}

.epoch.center {
  filter: brightness(1);
  opacity: 100%;
  transform: scale(1);
}

.epoch:first-child {
  margin-left: 252px;
}

.epoch:last-child {
  margin-right: 252px;
}

.button-19 {
  appearance: button;
  background: var(--brown);
  border: solid transparent;
  border-radius: 100px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-weight: 800;
  font-size: 150%;
  letter-spacing: 2px;
  line-height: 20px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
}

.button-19:after {
  background-clip: padding-box;
  background: var(--gradient); 
  border: solid transparent;
  border-radius: 100px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:hover:not(:disabled) {
  animation: jello-horizontal 0.9s both;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
