body {
  position: relative;
  scrollbar-width: none;
  transition: background-color 300ms ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}

#timeline-container,
header,
.footer-wrapped,
.btn-animation,
.featured-articles,
.about-us,
.epoch-desc {
  animation: fade-in-bck 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20vh;
}

@keyframes fade-in-bck {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#background-image {
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: 120vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: blur(2px);
  transition: filter 1s, opacity 1s, background-image 0.5s ease-in-out;
  background-image: url("https://i.imgur.com/xPUXGRT.jpg");
}

#background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  pointer-events: none;
  transition: opacity 0.7s;
}

.theme-moyen-âge #background-image {
  background-image: url("https://i.imgur.com/xPUXGRT.jpg");
}

.theme-néolithique #background-image {
  background-image: url("https://i.imgur.com/NOho5qq.jpg");
}

.theme-antiquité #background-image {
  background-image: url("https://i.imgur.com/qYk0C49.jpg");
}

.theme-renaissance #background-image {
  background-image: url("https://i.imgur.com/IZfe0T5.jpg");
}

.theme-époque-moderne #background-image {
  background-image: url("https://i.imgur.com/ZSECm9u.jpg");
}

.theme-futur #background-image {
  background-image: url("https://i.imgur.com/GViuh6q.jpg");
}

.wave-container {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 200px;
  z-index: -1;
  user-select: none;
  pointer-events: none;
}

.wave-svg {
  width: 100%;
  height: 100%;
}

.wave-svg path {
  transition: fill 300ms ease-in-out;
}

.theme-néolithique .wave-svg path {
  fill: var(--m-néo);
}

.theme-antiquité .wave-svg path {
  fill: var(--m-ant);
}

.theme-moyen-âge .wave-svg path {
  fill: var(--m-moy);
}

.theme-renaissance .wave-svg path {
  fill: var(--m-ren);
}

.theme-époque-moderne .wave-svg path {
  fill: var(--m-émod);
}

.theme-futur .wave-svg path {
  fill: var(--m-fut);
}

.timeline {
  text-align: center;
  height: 60vh;
}

.timeline h1 {
  margin: 3vw;
  font-size: 600%;
  user-select: none;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-delay: 250ms;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

#timeline-container {
  width: 1200px;
  height: 100px;
  overflow-x: auto;
  white-space: nowrap;
  margin: 5vh auto;
  margin-bottom: 2.5vh;
  position: relative;
  user-select: none;
  overflow-y: hidden;
}

#timeline-container::-webkit-scrollbar {
  display: none;
}

.epoch {
  display: inline-block;
  width: 42%;
  height: 100%;
  filter: brightness(0.2);
  opacity: 70%;
  transition: all 0.5s ease-in-out;
  transform: scale(0.97);
  background-position: center;
}

.epoch.adjacent {
  filter: brightness(0.6);
  opacity: 70%;
  transform: scale(0.97);
}

.epoch.center {
  filter: brightness(1);
  opacity: 100%;
  transform: scale(1);
}

.epoch:first-child {
  margin-left: 252px;
}

.epoch:last-child {
  margin-right: 252px;
}

.epoch-desc {
  margin: 2.5vh;  
  font-size: 150%;
  font-weight: 600;
  padding: 0 10vw 0 10vw;
  text-shadow: 0 2px 5px black  ;
  color:white;
}

.button-19 {
  appearance: button;
  border: solid transparent;
  border-radius: 100px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-weight: 800;
  font-size: 150%;
  letter-spacing: 2px;
  line-height: 20px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  transition: all 300ms ease-in-out;
}

.button-19:after {
  background-clip: padding-box;
  background: var(--gradient);
  border: solid transparent;
  border-radius: 100px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  transition: all 300ms ease-in-out;
}
.theme-futur .button-19:after {
  animation-delay: calc(3s - 0.666s);
  animation: hard-hb 0.666s infinite;
}

@keyframes hard-hb {
  0% {
    transform: scale(1);
    filter: brightness(1);
    border-radius: 10px;
  }
  30% {
    transform: scale(1.2);
    filter: brightness(1.3);
    border-radius: 15px;
  }
  60% {
    transform: scale(1.5);
    filter: brightness(1.5);
    border-radius: 20px;
  }
  80% {
    transform: scale(1.3);
    filter: brightness(1.3);
    border-radius: 15px;
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
    border-radius: 10px;
  }
}


.button-19:hover:not(:disabled) {
  animation: jello-horizontal 0.9s both;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

section > h2 {
  font-family: "Nabla";
  text-align: center;
  font-size: 300%;
  margin-bottom: 5vh;
  user-select: none;
}

.grid {
  display: flex;
  gap: 1vw;
}

.card-link {
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation-delay: 2s;
}

.card {
  width: 300px;
  height: 400px;
  backdrop-filter: blur(10px);
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 500ms ease;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
  transition: all 500ms ease-in-out;
}

.card:hover::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.card img.article {
  object-fit: cover;
  height: 70%;
  width: auto;
  filter: drop-shadow(5px 5px 10px #000000de) blur(0);
  transition: all 200ms ease-in-out;
}

.card:hover img.article {
  filter: drop-shadow(5px 5px 10px #000000de) blur(5px);
}

.card .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 150%;
  font-weight: 700;
  z-index: 2;
  opacity: 0;
  filter: blur(5px);
  transition: all 500ms ease-in-out;
}

.card:hover .text {
  filter: blur(0px);
  opacity: 1;
}

.rate-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 300%;
  gap: 5px;
}

.card .star-icon {
  font-size: 70%;
  color: var(--gold);
}

.about-us p {
  color: white;
  font-size: 120%;
  font-weight: 500;
  text-align: center;
  width: 40%;
  margin: auto;
  margin-bottom: 2vw;
}

.about-us p a {
  color: var(--gold);
  font-weight: 700;
  text-decoration: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 960px) {
  .timeline {
    margin-top: 5vh;
  }

  .button-19 {
    padding: 30px 40px;
    font-size: 250%;
  }

  .theme-futur .button-19:after {
    animation: none;
  }

  .timeline h1 {
    font-size: 500%;
  }

  #timeline-container {
    width: 1100px;
  }

  .card {
    width: 270px;
    height: 360px;
  }

  .about-us p {
    width: 80%;
    font-size: 150%;
    line-height: 120%;
  }
}

@media only screen and (max-width: 600px) {
  .timeline h1 {
    font-size: calc(10vw + 16px);
  }
  

  #timeline-container {
    width: 1000px;
  }

  section > h2 {
    font-size: 8.5vw;
  }

  .wave-container {
    top: 110vh;
    height: 100px;
  }

  .featured-articles .grid {
    flex-wrap: wrap;
    justify-content: center;
    gap:5vw;
    width: 95vw;
  }

  .about-us p {
    width: 90%;
    font-size: 150%;
    line-height: 130%;
    font-weight: 400;
  }
}
