body {
  overflow-x: hidden;
}

.theme-néolithique #background-image {
  background-image: url("https://i.imgur.com/NOho5qq.jpg");
  background-color: #3a4526;
}

.theme-antiquité #background-image {
  background-image: url("https://i.imgur.com/qYk0C49.jpg");
  background-color: #7d8790;
}

.theme-moyen-âge #background-image {
  background-image: url("https://i.imgur.com/xPUXGRT.jpg");
  background-color: #533c2f;
}

.theme-renaissance #background-image {
  background-image: url("https://i.imgur.com/IZfe0T5.jpg");
  background-color: #645f54;
}

.theme-époquemoderne #background-image {
  background-image: url("https://i.imgur.com/ZSECm9u.jpg");
  background-color: #424e4c;
}

.theme-futur #background-image {
  background-image: url("https://i.imgur.com/GViuh6q.jpg");
  background-color: #463f5d;
}

#background-image {
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: 150%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: blur(4px);
}

#background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  pointer-events: none;
}

#back-link {
  background-color: var(--gold);
  padding: 10px 20px;
  border-radius: 100px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  margin-left: 5vw;
  transition: all 0.1s ease-in-out;
}

#back-link:hover {
  background-color: var(--brown);
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
  user-select: none;
}

.article-info {
  border: none;
  width: 70vw;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 3vw;
  box-sizing: border-box;
  gap: 2vw;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.zoom-container {
  width: 50%;
  position: relative;
}

.zoom-image {
  width: 100%;
  max-height: 700px;
  object-fit: contain;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.1));
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.zoom-lens {
  position: absolute;
  border: 3px solid #000;
  background-color: white;
  border-radius: 50%;
  cursor: none;
  width: 200px;
  height: 200px;
  pointer-events: none;
}

.article-details h1,
.article-details h3,
.article-details p,
.article-details a,
.article-details .price {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.article-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 50%;
}

.article-details h3 {
  font-weight: 800;
  font-size: 250%;
  margin-bottom: 10px;
}

.article-action .price {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--gold);
  margin-bottom: 10px;
}

.article-action .price span {
  opacity: 0;
  transition: 300ms ease-in-out;
}

.article-action .price:hover span {
  opacity: 1;
}

.favorite-btn,
.cart-btn {
  text-decoration: none;
  background-color: var(--gold);
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  color: white;
  text-align: center;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.favorite-btn:hover,
.cart-btn:hover {
  background-color: var(--brown);
  color: white;
}

.article-details > p > span {
  font-weight: 600;
}

.article-details > p > a {
  color: black;
  text-decoration: none;
}

.article-details > p > a:hover {
  text-decoration: underline;
}

.tags span {
  display: inline-block;
  background-color: var(--brown);
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.theme-néolithique .tags span {
  background-color: #3a4526;
}

.theme-antiquité .tags span {
  background-color: #7d8790;
}

.theme-moyen-âge .tags span {
  background-color: #533c2f;
}

.theme-renaissance .tags span {
  background-color: #645f54;
}

.theme-époquemoderne .tags span {
  background-color: #424e4c;
}

.theme-futur .tags span {
  background-color: #463f5d;
}

.tags span:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.tags a {
  color: white;
  text-decoration: none;
}

.additional-info {
  text-align: center;
  padding: 1vh 0;
  width: 70vw;
  margin: auto;
  margin-top: 20px;
  border-radius: 30px;
  color: white;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.theme-néolithique .lower-part {
  background-color: #3a4526;
}

.theme-antiquité .lower-part {
  background-color: #7d8790;
}

.theme-moyen-âge .lower-part {
  background-color: #533c2f;
}

.theme-renaissance .lower-part {
  background-color: #645f54;
}

.theme-époquemoderne .lower-part {
  background-color: #424e4c;
}

.theme-futur .lower-part {
  background-color: #463f5d;
}

.lower-part {
  position: relative;
  margin-top: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.lower-part::before {
  content: "";
  position: absolute;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.486);
  height: 70%;
  top: 50%;
  left: 50%;
  border-radius: 100px;
  transform: translate(-50%, -50%);
}

.lower-part h3 {
  margin: 2vw;
  font-weight: 600;
  font-size: 150%;
}

.comments-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-comment {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-comment textarea {
    width: 100%;
    font-size: 105%;
    border: none;
    outline: none;
    padding: 0;
    resize: none;
    background: none;
    font-family: inherit;
    position: relative;
}

.add-comment::after {
    content: '';
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: width 0.4s ease;
}

.add-comment button {
    display: none;
}
