:root {
  --brown: #e75511;
  --gold: #f1ab28;
  --gradient: linear-gradient(-135deg, var(--gold), var(--brown));
}

::selection {  
  color: white;
  background: var(--gold);
}

@font-face {
  font-family: "Antiquite";
  src: url("../fonts/antiquite.ttf") format("truetype");
}

@font-face {
  font-family: "EpoqueModerne";
  src: url("../fonts/epoque-moderne.otf") format("opentype");
}

@font-face {
  font-family: "Futur";
  src: url("../fonts/futur.ttf") format("truetype");
}

@font-face {
  font-family: "MoyenAge";
  src: url("../fonts/moyen-age.ttf") format("truetype");
}

@font-face {
  font-family: "Neolithique";
  src: url("../fonts/neolithique.otf") format("opentype");
}

@font-face {
  font-family: "Renaissance";
  src: url("../fonts/renaissance.TTF") format("truetype");
}

.title-letter {
  display: inline-block;
  animation: float 2s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

#toast-message {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  z-index: 1000;
}

#toast-message.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 3s;
}

body.preload {
  transition: all 0ms;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1 {
  font-family: "Nabla";
}

header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 25vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
  color: white;
  z-index: 999;
}

header a {
  color: inherit;
  text-decoration: none;
}

header .umc {
  display: flex;
  justify-content: center;
  gap: 5vw;
  height: 50%;
  align-items: center;
}

header .umc a {
  font-size: 150%;
}

header .control-icons .volume-control a {
  display: inline-block;
  width: 24px;
  text-align: center;
}

header .control-icons .volume-control i {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

header .volume-control .fa-volume-high {
  animation: pulsate-fwd 1s ease-in-out infinite both;
}

@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.umc .fa-solid,
.umc .fa-volume-xmark,
.umc .fa-volume-high {
  display: none;
}

.umc .regular-icon,
.umc .volume-control .fa-regular.fa-volume-high,
.umc .volume-control.active .fa-regular.fa-volume-xmark,
.umc .fa-regular.simple {
  display: inline-block;
}

.umc .volume-control:hover .fa-regular.fa-volume-high {
  display: none;
}

.umc .volume-control:hover .fa-solid.fa-volume-high,
.umc .volume-control.active:hover .fa-solid.fa-volume-xmark,
.umc a:hover .fa-solid.simple {
  display: inline-block;
}

.umc .volume-control.active .fa-regular.fa-volume-high,
.umc .volume-control.active .fa-solid.fa-volume-high,
.umc .volume-control.active:hover .fa-regular.fa-volume-xmark,
.umc a:hover .fa-regular.simple {
  display: none;
}

.umc .search-bar .fa-solid {
  display: initial;
}

header .search-bar {
  border: 2px solid white;
  border-radius: 100px;
  height: 50px;
  width: 500px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

header .search-bar > * {
  background: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: white;
}

header .search-bar input {
  flex-grow: 1;
  outline: none;
}

header .search-bar > * {
  padding: 15px;
}

::placeholder {
  color: inherit;
}

header .umc ul {
  display: flex;
  gap: 1vw;
  list-style: none;
  padding: 0;
  margin: 0;
}

header .umc ul li {
  display: flex;
  align-items: center;
}

header .umc ul li a {
  display: flex;
  align-items: center;
}

.logged-in {
  color: rgb(1, 206, 1);
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.dropbtn {
  cursor: pointer;
  font-weight: 600;
  font-size: 120%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer-wrapped {
  position: relative;
  width: 100%;
}

.footer-wave-container {
  width: 100%;
  height: 200px;
  z-index: -1;
  pointer-events: none;
  position: relative;
  overflow: hidden;
}

.footer-wave-svg {
  width: 100%;
  height: 100%;
}

.footer-wave-svg path {
  fill: var(--brown);
}

footer {
  padding: 5vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  color:white;
  background-color: var(--brown);
}

footer ul {
  display: flex;
  flex-direction: column;
  gap:1vw;
}

footer li {
  vertical-align: middle;
}

footer a {
  color:white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer a i {
  margin-right:0.7vw;
}

.theme-néolithique .footer-wave-svg path,
.theme-néolithique footer {
  fill: #2e361d;
  background-color: #2e361d;
}

.theme-antiquité .footer-wave-svg path,
.theme-antiquité footer {
  fill: #636a72;
  background-color: #636a72;
}

.theme-moyen-âge .footer-wave-svg path,
.theme-moyen-âge footer {
  fill: #432e26;
  background-color: #432e26;
}

.theme-renaissance .footer-wave-svg path,
.theme-renaissance footer {
  fill: #4f4a43;
  background-color: #4f4a43;
}

.theme-époque-moderne .footer-wave-svg path,
.theme-époque-moderne footer, .theme-époquemoderne .footer-wave-svg path,
.theme-époquemoderne footer {
  fill: #323838;
  background-color: #323838;
}

.theme-futur .footer-wave-svg path,
.theme-futur footer {
  fill: #3a324c;
  background-color: #3a324c;
}
