:root {
  --brown: #e75511;
  --gold: #f1ab28;
  --gradient: linear-gradient(-135deg, var(--gold), var(--brown));

  --m-néo: #3a4526;
  --d-néo: #2e361d;

  --m-ant: #7d8790;
  --d-ant: #636a72;

  --m-moy: #533c2f;
  --d-moy: #432e26;

  --m-ren: #645f54;
  --d-ren: #4f4a43;

  --m-émod: #424e4c;
  --d-émod: #323838;

  --m-fut: #463f5d;
  --d-fut: #3a324c;
  
  --m-isl: #7c5b49;
  --d-isl: #5e4535;

  --m-hsei: #6B352D;
  --d-hsei: #51271f;

  --m-wes: #6b6257;
  --d-wes: #524c45;
}

::selection {
  color: white;
  background: var(--gold);
}

::-webkit-scrollbar {
  width: 7px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  display: initial;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gold);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--brown);
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 100px;
}

.title-letter {
  display: inline-block;
  animation: float 2s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

#toast-message {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  z-index: 1000;
}

#toast-message.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 3s;
}

body.preload {
  transition: all 0ms;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.theme-néolithique {
  background-color: var(--m-néo);
}

.theme-antiquité {
  background-color: var(--m-ant);
}

.theme-moyen-âge {
  background-color: var(--m-moy);
}

.theme-renaissance {
  background-color: var(--m-ren);
}

.theme-époque-moderne,
.theme-époquemoderne {
  background-color: var(--m-émod);
}

.theme-futur {
  background-color: var(--m-fut);
}

.theme-hōken-seido {
  background-color: var(--m-hsei);
}

.theme-western {
  background-color: var(--m-wes);
}

.theme-islamique {
  background-color: var(--m-isl);
}

main {
  flex: 1;
}

h1 {
  font-family: "Nabla";
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 25vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
  color: white;
  z-index: 999;
  width: 100vw;
}

header a {
  color: inherit;
  text-decoration: none;
}

header .umc {
  display: flex;
  justify-content: center;
  gap: 5vw;
  height: 50%;
  align-items: center;
}

header .umc a {
  font-size: 150%;
}

header .control-icons .volume-control a {
  display: inline-block;
  width: 24px;
  text-align: center;
}

header .control-icons .volume-control i {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

header .volume-control .fa-volume-high {
  animation: pulsate-fwd 1s ease-in-out infinite both;
}

@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.umc .fa-solid,
.umc .fa-volume-xmark,
.umc .fa-volume-high {
  display: none;
}

.umc .regular-icon,
.umc .volume-control .fa-regular.fa-volume-high,
.umc .volume-control.active .fa-regular.fa-volume-xmark,
.umc .fa-regular.simple {
  display: inline-block;
}

.umc .volume-control:hover .fa-regular.fa-volume-high {
  display: none;
}

.umc .volume-control:hover .fa-solid.fa-volume-high,
.umc .volume-control.active:hover .fa-solid.fa-volume-xmark,
.umc a:hover .fa-solid.simple {
  display: inline-block;
}

.umc .volume-control.active .fa-regular.fa-volume-high,
.umc .volume-control.active .fa-solid.fa-volume-high,
.umc .volume-control.active:hover .fa-regular.fa-volume-xmark,
.umc a:hover .fa-regular.simple {
  display: none;
}

.umc .search-bar .fa-solid {
  display: initial;
}

header .search-bar {
  border: 2px solid white;
  border-radius: 100px;
  height: 50px;
  width: 500px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

header .search-bar > * {
  background: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: white;
}

header .search-bar input {
  flex-grow: 1;
  outline: none;
}

header .search-bar > * {
  padding: 15px;
}

::placeholder {
  color: inherit;
}

header .umc ul {
  display: flex;
  gap: 1vw;
  list-style: none;
  padding: 0;
  margin: 0;
}

header .umc ul li {
  display: flex;
  align-items: center;
}

header .umc ul li a {
  display: flex;
  align-items: center;
}

.logged-in {
  color: rgb(1, 206, 1);
}

nav ul {
  display: flex;
  width: 90vw;
  justify-content: space-around;
  font-size: 0.8vw;
}

@media (max-width: 1440px) {
  nav ul {
    font-size: 1.1vw;
  }
}

@media (max-width: 1200px) {
  nav ul {
    font-size: 1.15vw;
  }
}

@media (max-width: 1000px) {
  nav ul {
    font-size: 1.2vw;
  }
}

.dropbtn {
  cursor: pointer;
  font-weight: 600;
  font-size: 120%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer-wrapped {
  position: relative;
  width: 100vw;
}

.footer-wave-container {
  width: 100%;
  height: 200px;
  z-index: -1;
  pointer-events: none;
  position: relative;
  overflow: hidden;
  transform: translate(0, 2px);
}

.footer-wave-svg {
  width: 100%;
  height: 100%;
}

.footer-wave-svg path {
  fill: var(--brown);
}

footer {
  padding: 5vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: var(--brown);
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

footer li {
  vertical-align: middle;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer a i {
  margin-right: 0.7vw;
}

.theme-néolithique .footer-wave-svg path,
.theme-néolithique footer {
  fill: var(--d-néo);
  background-color: var(--d-néo);
}

.theme-antiquité .footer-wave-svg path,
.theme-antiquité footer {
  fill: var(--d-ant);
  background-color: var(--d-ant);
}

.theme-moyen-âge .footer-wave-svg path,
.theme-moyen-âge footer {
  fill: var(--d-moy);
  background-color: var(--d-moy);
}

.theme-renaissance .footer-wave-svg path,
.theme-renaissance footer {
  fill: var(--d-ren);
  background-color: var(--d-ren);
}

.theme-époque-moderne .footer-wave-svg path,
.theme-époque-moderne footer,
.theme-époquemoderne .footer-wave-svg path,
.theme-époquemoderne footer {
  fill: var(--d-émod);
  background-color: var(--d-émod);
}

.theme-hōken-seido .footer-wave-svg path,
.theme-hōken-seido footer {
  fill: var(--d-hsei);
  background-color: var(--d-hsei);
}

.theme-western .footer-wave-svg path,
.theme-western footer {
  fill: var(--d-wes);
  background-color: var(--d-wes);
}


.theme-islamique .footer-wave-svg path,
.theme-islamique footer {
  fill: var(--d-isl);
  background-color: var(--d-isl);
}


/* MEDIA QUERIES */

.mobile-header {
  display: none;
}

@media only screen and (max-width: 960px) {
  body,
  html {
    overflow-x: hidden;
  }

  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: flex;
    align-items: center;
    height: 30vh;
  }

  header .search-bar {
    width: 90vw;
  }

  ul.user-interaction-icons {
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
  }

  ul.user-interaction-icons {
    font-size: 190%;
  }

  li.burger-menu {
    display: none;
  }

  .nav-links.tablet-size {
    width: 100%;
    display: flex;
    gap: 5vw;
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0 5vw;
  }

  footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
  }

  footer ul:not(:last-child) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
  }
}

@media only screen and (max-width: 600px) {
  header.mobile-header {
    height: 20vh;
  }

  li.burger-menu {
    display: inline-block;
  }

  header .search-bar {
    width: 70vw;
  }

  .nav-links.tablet-size {
    display: none;
  }

  #menu-toggle {
    display: none;
  }

  .fullpage-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle:checked ~ .fullpage-menu {
    display: flex;
  }

  .fullpage-menu .nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 110%;
  }

  .fullpage-menu .nav-links a {
    color: white;
    text-decoration: none;
  }

  .fullpage-menu .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .footer-wave-container {
    height: 100px;
  }
}
