:root {
  --brown: #e75511;
  --gold: #f1ab28;
  --gradient: linear-gradient(-135deg, var(--gold), var(--brown));
  --button-gradient: linear-gradient(135deg, #f1c40f, #e67e22);
}

body {
  overflow: hidden;
}

::selection {
  background: #4c58cf;
  color: white;
}

main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

i.fa-times {
  position: absolute;
  top: 6%;
  left: 6%;
  color: lightgrey;
  font-size: 150%;
  transform: rotate(0deg);
  transition: all 0.4s;
}

i.fa-times:hover {
  transform: rotate(90deg);
  color: rgb(63, 63, 63);
}

.wave-container {
  position: absolute;
  top: 40vh;
  width: 100%;
  height: 60vh;
  z-index: -1;
  user-select: none;
  pointer-events: none;
  background-color: var(--brown);
  animation: slide-in-bottom 6s cubic-bezier(0,.91,0,1) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.wave-svg {
  transform: rotateZ(180deg);
  width: 100%;
  height: 200px;
}

.wave-svg path {
  transition: fill 300ms ease-in-out;
}

.wrapper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 0 2%;
  animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

.wrapper {
  width: 380px;
  border-radius: 30px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.wrapper .title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: white;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: var(--gradient);
}

.wrapper form {
  padding: 10px 30px 50px 30px;
}

.wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.field .fa-eye,
.field .fa-eye-slash {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--brown);
}

.wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.wrapper form .field input:focus,
.wrapper form .field input:valid {
  border-color: var(--brown);
}

.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.wrapper form .field input:focus ~ label,
.wrapper form .field input:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: var(--brown);
  background: #fff;
  transform: translateY(-50%);
}

.wrapper form .content {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}

.wrapper form .content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form .content input {
  width: 15px;
  height: 15%;
}

.wrapper form .content label {
  color: #262626;
  user-select: none;
  padding-left: 5px;
}

.wrapper form .content .pass-link {
  color: var(--brown);
}

.wrapper form .field input[type="submit"] {
  position: relative;
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  background: var(--button-gradient);
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  border-radius: 100px;
  padding: 10px 20px;
}

.wrapper form .field input[type="submit"]:hover:not(:disabled) {
  transform: scale(1.05);
}

.wrapper form .field input[type="submit"]:active {
  border-width: 4px 0 0;
  background: none;
  transform: scale(0.95);
}

.wrapper form .signup-link {
  color: #262626;
  margin-top: 20px;
  text-align: center;
}

.wrapper form .pass-link a,
.wrapper form .signup-link a {
  color: var(--brown);
  text-decoration: none;
}

.wrapper form .pass-link a:hover,
.wrapper form .signup-link a:hover {
  text-decoration: underline;
}

.field.button {
  display: grid;
  place-items: center;
}

button,
.logout-btn,
.wrapper form .field input[type="submit"],
.action-btn {
  appearance: button;
  background: var(--gold);
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover:not(:disabled),
.logout-btn:hover:not(:disabled),
.wrapper form .field input[type="submit"]:hover:not(:disabled),
.action-btn:hover:not(:disabled) {
  background-color: var(--brown);
  color: white;
}

.field.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.logout-btn {
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
}