{% extends "includes/base.twig" %}

{% block css %}
	<link rel="stylesheet" href="{{ base_path }}/assets/css/product_list.css">
{% endblock %}

{% block main %}
	<input type="checkbox" id="menuToggle" class="menu-toggle"/>
	<label for="menuToggle" class="menu-icon burger"><i class="fa-solid fa-bars"></i></label>
	<aside id="filters">
		<label for="menuToggle" class="menu-icon xmark"><i class="fa-solid fa-xmark"></i></label>
		<h3>Filtres</h3>
		<div>
			<label>Catégories</label>
			<div id="category-checkboxes"></div>
		</div>
		<div class="pair-filter">
			<label>Prix minimum</label>
			<input type="number" id="minPrice" name="minPrice" min="0" placeholder="">
		</div>
		<div>
			<label>Prix maximum</label>
			<input type="number" id="maxPrice" name="maxPrice" min="0" placeholder="">
		</div>
		<div class="pair-filter">
			<label>Année minimum</label>
			<input type="number" id="minYear" name="minYear" placeholder="">
		</div>
		<div>
			<label>Année maximum</label>
			<input type="number" id="maxYear" name="maxYear" placeholder="">
		</div>
		<div>
			<label>Sous-catégories</label>
			<div id="subcategory-checkboxes" class="expandable"></div>
		</div>
		<div>
			<label>Vendeurs</label>
			<div id="seller-checkboxes" class="expandable"></div>
		</div>
		<div>
			<label>Mots-clés</label>
			<div id="keyword-checkboxes" class="expandable"></div>
		</div>
	</aside>
	<section>
		<div class="title-animation" id="article-count"></div>
		<div id="articles"></div>
	</section>
{% endblock %}

{% block js %}
	<script src="{{ base_path }}/assets/js/favcartManager.js"></script>
	<script src="{{ base_path }}/assets/js/articleFilterManager.js"></script>
	<script src="{{ base_path }}/assets/js/articleListAnimation.js"></script>
{% endblock %}
