{% extends "includes/base.twig" %}

{% block title %}
    {{ message|slice(0, 10) }}
{% endblock %}

{% set withFooter = false %}

{% block favicon %}
<link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><text y='50%' font-size='32' text-anchor='middle' dominant-baseline='middle'>🌊</text></svg>">
{% endblock %}

{% block css %}
<style>

{# STYLE . CSS #}

:root {
  --brown: #e75511;
  --gold: #f1ab28;
}

ul {
	list-style:none;
}

::selection {
  color: white;
  background: var(--gold);
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1;
}

h1 {
  font-family: "Nabla";
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 25vh;
  color: white;
  z-index: 999;
  width: 100vw;
  background-color: var(--brown);
}

header a {
  color: inherit;
  text-decoration: none;
}

header .umc {
  display: flex;
  justify-content: center;
  gap: 5vw;
  height: 50%;
  align-items: center;
}

header .umc a {
  font-size: 150%;
}

header .control-icons .volume-control a {
  display: inline-block;
  width: 24px;
  text-align: center;
}

header .control-icons .volume-control i {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.umc .fa-solid,
.umc .fa-volume-xmark,
.umc .fa-volume-high {
  display: none;
}

.umc .regular-icon,
.umc .volume-control .fa-regular.fa-volume-high,
.umc .volume-control.active .fa-regular.fa-volume-xmark,
.umc .fa-regular.simple {
  display: inline-block;
}

.umc .volume-control:hover .fa-regular.fa-volume-high {
  display: none;
}

.umc .volume-control:hover .fa-solid.fa-volume-high,
.umc .volume-control.active:hover .fa-solid.fa-volume-xmark,
.umc a:hover .fa-solid.simple {
  display: inline-block;
}

.umc .volume-control.active .fa-regular.fa-volume-high,
.umc .volume-control.active .fa-solid.fa-volume-high,
.umc .volume-control.active:hover .fa-regular.fa-volume-xmark,
.umc a:hover .fa-regular.simple {
  display: none;
}

.umc .search-bar .fa-solid {
  display: initial;
}

header .search-bar {
  border: 2px solid white;
  border-radius: 100px;
  height: 50px;
  width: 500px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

header .search-bar > * {
  background: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: white;
}

header .search-bar input {
  flex-grow: 1;
  outline: none;
}

header .search-bar > * {
  padding: 15px;
}

::placeholder {
  color: inherit;
}

header .umc ul {
  display: flex;
  gap: 1vw;
  list-style: none;
  padding: 0;
  margin: 0;
}

header .umc ul li {
  display: flex;
  align-items: center;
}

header .umc ul li a {
  display: flex;
  align-items: center;
}

.logged-in {
  color: rgb(1, 206, 1);
}

nav ul {
  display: flex;
  width: 90vw;
  justify-content: space-around;
  font-size: 0.8vw;
}

@media (max-width: 1440px) {
  nav ul {
    font-size: 1.1vw;
  }
}

@media (max-width: 1200px) {
  nav ul {
    font-size: 1.15vw;
  }
}

@media (max-width: 1000px) {
  nav ul {
    font-size: 1.2vw;
  }
}

.dropbtn {
  cursor: pointer;
  font-weight: 600;
  font-size: 120%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer-wrapped {
  position: relative;
  width: 100vw;
}

.footer-wave-container {
  width: 100%;
  height: 200px;
  z-index: -1;
  pointer-events: none;
  position: relative;
  overflow: hidden;
  transform: translate(0, 2px);
}

.footer-wave-svg {
  width: 100%;
  height: 100%;
}

.footer-wave-svg path {
  fill: var(--brown);
}

footer {
  padding: 5vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: var(--brown);
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

footer li {
  vertical-align: middle;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer a i {
  margin-right: 0.7vw;
}

/* MEDIA QUERIES */

.mobile-header {
  display: none;
}

@media only screen and (max-width: 960px) {
  body,
  html {
    overflow-x: hidden;
  }

  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: flex;
    align-items: center;
    height: 30vh;
  }

  header .search-bar {
    width: 90vw;
  }

  ul.user-interaction-icons {
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
  }

  ul.user-interaction-icons {
    font-size: 190%;
  }

  li.burger-menu {
    display: none;
  }

  .nav-links.tablet-size {
    width: 100%;
    display: flex;
    gap: 5vw;
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0 5vw;
  }

  footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
  }

  footer ul:not(:last-child) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
  }
}

@media only screen and (max-width: 600px) {
  header.mobile-header {
    height: 20vh;
  }

  li.burger-menu {
    display: inline-block;
  }

  header .search-bar {
    width: 70vw;
  }

  .nav-links.tablet-size {
    display: none;
  }

  #menu-toggle {
    display: none;
  }

  .fullpage-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle:checked ~ .fullpage-menu {
    display: flex;
  }

  .fullpage-menu .nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 110%;
  }

  .fullpage-menu .nav-links a {
    color: white;
    text-decoration: none;
  }

  .fullpage-menu .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .footer-wave-container {
    height: 100px;
  }
}

{# ERROR . CSS #}

.error-container {
	text-align:center;
}

.error-container h1 {
    font-size: 500%;
	user-select:none;
    animation: jello-horizontal 3.9s both infinite;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  6.5% {
    transform: scale3d(1.25, 0.75, 1);
  }
  8.5% {
    transform: scale3d(0.75, 1.25, 1);
  }
  10.5% {
    transform: scale3d(1.15, 0.85, 1);
  }
  13.5% {
    transform: scale3d(0.95, 1.05, 1);
  }
  15.5% {
    transform: scale3d(1.05, 0.95, 1);
  }
  23% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h2 {
	width:70%;
	margin:auto;
}

p {
	margin:3vw 10vw;
}

.button {
	padding:10px 20px;
	border-radius:100px;
	background-color:var(--gold);
	text-decoration:none;
	color:white;
	font-weight: 600;
	font-size:120%;
	transition: background-color 300ms ease;
}

.button:hover {
	background-color:var(--brown);
}


</style>
{% endblock %}

{% block main %}
    <div id="background-image"></div>
    <div class="error-container">
        <h1>{{ message|slice(0, 10) }}</h1>
		<h2>{{ message|slice(11, 100) }}</h2>
        <p>Il semble que vous ayez rencontré un problème. Vous pouvez retourner à la page d'accueil ou utiliser le menu ci-dessus pour continuer votre exploration.</p>
        <a class="button" href="index">Retour à l'accueil</a>
    </div>
{% endblock %}

{% block js %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const errorContainer = document.querySelector('.error-container');
            errorContainer.style.animation = 'fadeIn 1s ease-in-out';
        });
    </script>
{% endblock %}
